html,
body {
    margin: 0;
}

 header {
     background-color: rgb(249, 8, 8);
     margin-bottom: 10px;
 }
 nav {
     float: right;
     margin-right: 25px;
 }

 nav>a{
     font-size: larger;
     color: #ffffff;
     text-decoration: none;
     margin: 30px;
     
 }

nav>a:hover{
    color: black;
}

.about-info {
    border:2px double rgb(0, 255, 68);
    margin: 0 auto;
    width:50vw;
    text-align:center;

}


.photobox {
    position: relative;
    margin-top: 20px;
    border: 1px solid black;
    width: 80vw;
    left: 10%;
    background-color: black;
    color: white;

}




.photobox div {
    position: relative;
    left: 13px;
    margin: 5px;
    width: 33.33%;
    padding: 10px;

    
}



.col {
    display: inline-block;
}


.photobox div:nth-child(2){
    height: 320px;
}