html,
body {
    margin: 0;
}

header {
    background-color: #d08a07;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

nav {
    float: right;
    margin-right: 25px;
}

nav>a {
    font-size: larger;
    color: #ffffff;
    text-decoration: none;
    margin: 30px;
}

nav>a:hover {
    color: black;
}

.about-info {
    border: 2px double #d08a07;
    width: 40vw;
    text-align: center;
    margin: 0 auto;
}

.photobox {
    margin-top: 15px;
    border: 1px solid black;
    width: 80vw;
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 10%;
    z-index: -1;
}

.photobox div {
    padding: 20px;
}

.photobox div:nth-child(2) {
    height: 200px;
}

.filler-text {
    line-height: 5;
}

#home {
    margin-top: 10%;
}